name: Build & Push to Docker Hub

on:
  push:
    branches: ["main"]   

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            riteshdevnew/blog-api:v2

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.2.0
        env:
          APP_MONGO_URI: ${{ secrets.APP_MONGO_URI }}
          APP_JWT_SECRET: ${{ secrets.APP_JWT_SECRET }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/app

            cat > .env <<EOF
            NODE_ENV=production
            MONGO_URI=${APP_MONGO_URI}
            JWT_SECRET=${APP_JWT_SECRET}
            EOF
            s
            # pull latest image and restart containers
            docker compose pull
            docker compose up -d
            docker image prune -af
